.movie-header {
    text-align: center;
    margin-bottom: 10px;
}

.movie-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.movie-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
    position: relative;
}

.movie-poster {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.movie-info {
    flex: 1;
}

hr {
    border: 0;
    height: 1px;
    background: white;
    margin: 10px 0;
}

.favorite-star {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

p {
    line-height: 1.8;

}

.movie-plot {
    display: -webkit-box;
    -webkit-line-clamp: 3;

    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 4.5em;

    transition: max-height 0.5s ease-in-out;
}


.read-more {
    color: yellow;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.movie-plot.expanded {
    max-height: none;

}


.movie-plot {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-more {
    color: yellow;
    cursor: pointer;
    text-decoration: none;
}


.movie-plot.expanded {
    display: block;
    -webkit-line-clamp: unset;

}


@media screen and (max-width: 768px) {
    .movie-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    .movie-title {
        font-size: 22px;
    }

    .movie-poster {
        width: 80%;
        max-width: 350px;
    }

    .movie-info {
        width: 100%;
        font-size: 16px;
    }

    .favorite-star {
        font-size: 22px;
        top: 5px;
        right: 5px;
    }
}

@media screen and (max-width: 480px) {
    .movie-title {
        font-size: 20px;
    }

    .movie-container {
        padding: 10px;
    }

    .movie-poster {
        width: 100%;
        max-width: 300px;
    }

    .movie-info {
        font-size: 14px;
    }

    .favorite-star {
        font-size: 20px;
        top: 3px;
        right: 3px;
    }
}